.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: left;
    background-color: black;
  }
  
  .animationContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textContainer {
    flex: 1;
    padding: 20px;
  }
  
  .textContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .textContainer p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    animation: colorChange 5s infinite alternate;
  }
  
  @keyframes colorChange {
    0% { color: #ff4500; }
    25% { color: #32cd32; }
    50% { color: #1e90ff; }
    75% { color: #ff69b4; }
    100% { color: #ff4500; }
  }
  
  .button {
    background-color: #ff5000;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.25rem;
    transition: background-color 0.3s;
    animation: colorChange 5s infinite alternate;
    display: inline-block;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #e04500;
  }
  